PORT=8080
NODE_ENV=development
DATABASE_URL=postgresql://user:password@localhost:5432/db?schema=public
REDIS_URL=redis://alice:foobared@awesome.redis.server:6380
ACCESS_TOKEN_SECRET=your-access-secret-key
REFRESH_TOKEN_SECRET=your-refresh-secret-key
